{% extends 'form_div_layout.html.twig' %}

{% block widget_attributes %}
    {% if attrReady is defined %}
        {% set class = attrReady %}
    {% else %}
        {% if attr.class is defined %}
            {% set class = attr.class ~ ' form-control' %}
        {% else %}
            {% set class = 'form-control' %}
        {% endif %}
    {% endif %}

    {% set attr = attr|merge({'class' : class}) %}
    {{ parent() }}
{% endblock widget_attributes %}

{% block widget_attributes_custom_radio %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ '' %}
    {% else %}
        {% set class = '' %}
    {% endif %}

    {% set attrReady = class %}
    {{ block('widget_attributes') }}
{% endblock widget_attributes_custom_radio %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}


{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option {% for attrname, attrvalue in choice.attr|default({}) if attrvalue is not empty %}{{ attrname }}="{{ attrvalue }}" {% endfor %} value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}

{% block checkbox_widget %}
    <div class="checkbox">
        {% spaceless %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <input type="checkbox" {{ block('widget_attributes_custom_radio') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% if label is not sameas(false) %}
                {{ label|trans({}, translation_domain) }}
            {% endif %}
            </label>
        {% endspaceless %}
    </div>
{% endblock checkbox_widget %}

{% block radio_widget %}
    <div class="radio">
        {% spaceless %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <input type="radio" {{ block('widget_attributes_custom_radio') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% if label is not sameas(false) %}
                {{ label|trans({}, translation_domain) }}
            {% endif %}
            </label>
        {% endspaceless %}
    </div>
{% endblock radio_widget %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>

            {% if attr.class is defined %}
                {% set class = attr.class ~ ' timepicker' %}
            {% else %}
                {% set class = ' timepicker' %}
            {% endif %}
            {% set attr = attr|merge({'class' : class, 'data-datepicker':'on'}) %}

            {{ block('form_widget_simple') }}
        </div>
    {% else %}
        {% set date_pattern = '<div class="row">' ~ date_pattern ~ '</div>'|raw %}
        {{ date_pattern|replace({
        '{{ year }}' : '<div class="col-xs-4">{{ year }}</div>',
        '{{ month }}' : '<div class="col-xs-4">{{ month }}</div>',
        '{{ day }}' : '<div class="col-xs-4">{{ day }}</div>',
        })|raw|replace({
        '{{ year }}':  form_widget(form.year),
        '{{ month }}': form_widget(form.month),
        '{{ day }}':   form_widget(form.day),
        })|raw }}

    {% endif %}
{% endblock %}

{% block time_widget %}
    {% if widget == 'single_text' %}
        <div class="bootstrap-timepicker">
            <div class="input-group">
                {% if attr.class is defined %}
                    {% set class = attr.class ~ ' timepicker' %}
                {% else %}
                    {% set class = ' timepicker' %}
                {% endif %}
                {% set attr = attr|merge({'class' : class, 'data-timepicker':'on'}) %}
                {{ block('form_widget_simple') }}
                <div class="input-group-addon add-on">
                    <i class="fa fa-clock-o"></i>
                </div>
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block form_row %}
    {% set types = form.vars.block_prefixes %}
    {% if 'checkbox' in types or 'radio' in types %}
        <div class="form-group">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% else %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if type == 'submit' %}
            {% set tmpclass = 'btn btn-primary' %}
        {% else %}
            {% set tmpclass = 'btn' %}
        {% endif %}
        {% if attr.class is defined %}
            {% set attr = attr|merge({'class': attr.class ~ ' ' ~ tmpclass })  %}
        {% else %}
            {% set attr = attr|merge({'class': tmpclass })  %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block submit_widget %}
    {% spaceless %}
        {% set type = type|default('submit') %}
        {{ block('button_widget') }}
    {% endspaceless %}
{% endblock submit_widget %}

{% block reset_widget %}
    {% spaceless %}
        {% set type = type|default('reset') %}
        {{ block('button_widget') }}
    {% endspaceless %}
{% endblock reset_widget %}

{% block addon_widget %}
    {% spaceless %}
        <div class="input-group">
            {% if prefixIcon %}
                {% if prefixAction %}
                    <a href="{{ prefixAction }}" data-targetid="{{ id }}" class="input-group-addon dialog">
                        <i class="{{ prefixIcon }}"></i>
                    </a>
                {% else %}
                    <span class="input-group-addon">
                        <i class="{{ prefixIcon }}"></i>
                    </span>
                {% endif %}
            {% endif %}

            {% if hiddenInput %}
                <input readonly type="text" id="{{ id }}_display" class="form-control" value="{{ previewValue }}"/>
                {% set type = 'hidden' %}
            {% endif %}
            {{ block('form_widget_simple') }}

            {% if postfixIcon %}
                {% if postfixAction %}
                    <a href="{{ postfixAction }}" data-targetid="{{ id }}" class="input-group-addon dialog">
                        <i class="{{ postfixIcon }}"></i>
                    </a>
                {% else %}
                    <span class="input-group-addon">
                        <i class="{{ postfixIcon }}"></i>
                    </span>
                {% endif %}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock addon_widget %}

{% block money_widget %}
    {% spaceless %}
        <div class="input-group">
            <span class="input-group-addon">
                {{ money_pattern|replace({"{{ widget }}":""}) }}
            </span>
            {{ block('form_widget_simple') }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block percent_widget %}
    {% spaceless %}
        <div class="input-group">
            {{ block('form_widget_simple') }}
            <span class="input-group-addon">
                %
            </span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block file_widget %}
    {% spaceless %}
        {% if attr.multiple == 'multiple' %}
            {% set full_name = full_name ~'[]' %}
        {% endif %}
        <input type="{{ type }}" {{ block('widget_attributes_custom') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock file_widget %}

{% block route_widget %}
    {% spaceless %}
        <div class="input-group">
            {{ form_widget(form.path) }}
            <a href="#{{ id }}" class="input-group-addon routeConfigToggle" data-toggle="modal">
                <i class="fa fa-wrench"></i>
            </a>
            <div class="modal fade" id="{{ id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3></h3>
                        </div>
                        <div class="modal-body">
                            {{ form_row(form.title) }}
                            {{ form_row(form.metatags) }}
                            {{ form_row(form.metadescription) }}
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ "routeConfig.close"|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}